<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ardas</title>
</head>

<script src="./vendor/system.js/dist/system.js"></script>
<script src="./vendor/angular/angular.min.js"></script>
<script src="./vendor/jquery/dist/jquery.min.js"></script>
<script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./vendor/traceur/traceur.min.js"></script>
<script src="./vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="./vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script src="./vendor/angular-strap/dist/angular-strap.min.js"></script>
<script src="./vendor/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="./vendor/angular-xeditable/dist/js/xeditable.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic,cyrillic-ext,greek-ext,latin-ext" rel="stylesheet">
<link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="./vendor/angular-xeditable/dist/css/xeditable.min.css">
<link rel="stylesheet" href="./vendor/css/master.css">

<body>

<script>
    System.config({
        defaultJSExtensions: true,
        map: {
            traceur: './vendor/traceur/traceur.js'
        }
    });
    System.import('./javascripts/app.js');
</script>

<div class="container-fluid">
    <div class="row">
        <div class="wrapper">
            <div class="clearfix"></div>

            <div class="app">
                <div class="content" ui-view></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
