.list-group {
  .list-group-item {
    .h3 {
      color: #000;
      border: none;

    }
    .form-inline {
      margin-top: 20px;
      margin-bottom: 22px;
    }
  }
}

.task-up-text {
  margin-top: 20px;
}
